* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.show-button{
    background-color: blueviolet;
    padding: 10px;
    border: black solid 2px;
}

.input-search {
    padding: 10px;
    border-radius: 8px;
    background-color: beige;
    border: black solid 2px;
}