.red-class {
    height: 400px;
    width: 400px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: red;
    color: white;
}

.blue-class {
    height: 400px;
    width: 400px;
    border: 2px solid salmon;
    background-color: blue;
    color: black;
}

.yellow-class {
    font-size: 50px;
    color: yellow;
}